In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [1]:
import pandas as pd
import numpy as np

In [2]:
diamond = pd.read_csv('./INPUT/data.csv')

In [ ]:
# Let's take a look at the data
diamond.head()

In [ ]:
# Shape
diamond.shape

In [ ]:
# What kind of data we are dealing with, i.e. its types?
diamond.dtypes

In [ ]:
# No hay nulos

In [ ]:
diamond.describe()

In [ ]:
diamond.info()

In [ ]:
# Correlation matrix

corr = diamond.corr()

plt.figure(figsize = (8,6))

heat_map = sns.heatmap(corr, xticklabels=corr.columns.values, yticklabels=corr.columns.values, annot=True, fmt='.2f', linewidths=0.30, cmap = "coolwarm")

plt.title('Correlation of diamond features', y = 1.05, size=15)
heat_map.set_ylim(7,0,0)

In [ ]:
diamond.columns

In [3]:
cond = (diamond['y'] == 0) | (diamond['x'] == 0) | (diamond['z'] == 0) |(diamond['y'] >= 20) | (diamond['z'] >= 20) 
diamond.drop(diamond[cond].index, inplace = True)

In [4]:
columns = ['carat','depth', 'table', 'x', 'y', 'z']

for col in columns:
    diamond[col] = (diamond[col] - np.mean(diamond[col])) / np.std(diamond[col]) 

diamond.head()

,carat,cut,color,clarity,depth,table,x,y,z,price
0,3.083462,Ideal,G,SI2,0.106054,-0.205696,2.415650,2.359838,2.398669,12831
1,3.442035,Very Good,H,SI2,1.013885,-0.205696,2.522714,2.485665,2.673215,16170
2,0.003954,Premium,F,SI2,-0.522444,-0.205696,0.265430,0.247757,0.187847,2797
3,-0.839746,Ideal,F,I1,1.083718,1.139229,-0.939049,-0.983542,-0.852539,630
4,-1.029579,Ideal,G,VS2,-0.103445,-1.102313,-1.197789,-1.226207,-1.213785,698

In [5]:
diamond.cut = diamond.cut.replace({'Ideal':5, 'Premium':4, 'Very Good':3, 'Good':2, 'Fair':1})
diamond.color = diamond.color.replace({'D':7, 'E':6, 'F':5, 'G':4, 'H':3, 'I':2, 'J':1})
diamond.clarity = diamond.clarity.replace({'IF':8,'VVS1':7,'VVS2':6, 'VS1':5, 'VS2':4, 'SI1':3, 'SI2':2, 'I1':1})

In [ ]:
diamond.head()

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [ ]:
diamond['color'] = le.fit_transform(diamond['color'])
diamond['cut'] = le.fit_transform(diamond['cut'])
diamond['clarity'] = le.fit_transform(diamond['clarity'])

In [6]:
diamond['volume'] = diamond['x']*diamond['y']*diamond['z']
diamond.drop(['x','y','z'],axis=1,inplace=True)

In [ ]:
diamond.head()

In [ ]:
#diamond['color'].value_counts()

In [ ]:
#diamond['what?'] = le.fit_transform(diamond['color'])

In [ ]:
#diamond.head()

In [ ]:
#diamond['what?'].value_counts()

In [ ]:
#columns = ['carat','depth', 'table']

#for col in diamond.columns:
#    diamond[col] = (diamond[col] - np.mean(diamond[col])) / np.std(diamond[col]) 

#diamond.head()

In [ ]:
#diamond['volume'] = diamond['x']*diamond['y']*diamond['z']

In [ ]:
#diamond.drop(columns=['x', 'y', 'z'], inplace=True)

In [ ]:
diamond.head()

In [8]:
y = diamond['price']
X = diamond [['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'volume']]

In [ ]:
X = pd.get_dummies(X)
X.head()

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [10]:
from sklearn.ensemble import RandomForestRegressor

In [11]:
random_forest_model = RandomForestRegressor(n_estimators=250)

clf = random_forest_model.fit(X_train, y_train)

In [12]:
y_pred = clf.predict(X_test)

In [13]:
from sklearn.metrics import r2_score

r2_score(y_test, y_pred)

0.980696534979213

In [14]:
from sklearn.metrics import mean_squared_error as mse
from math import sqrt

sqrt(mse(y_test, y_pred))

543.8368618845041

# TEST

In [15]:
test = pd.read_csv('./INPUT/test.csv')

In [16]:
test.head()

   id  carat      cut color clarity  depth  table     x     y     z
0   0   0.56    Ideal     I     VS2   62.1   54.0  5.30  5.33  3.30
1   1   1.05    Ideal     G     VS2   61.9   56.0  6.56  6.52  4.05
2   2   0.50  Premium     E     VS2   61.5   56.0  5.11  5.07  3.13
3   3   0.80    Ideal     F     VS1   62.8   56.0  5.91  5.96  3.73
4   4   0.54    Ideal     G     VS1   61.4   57.0  5.23  5.20  3.20

In [19]:
cond = (test['y'] == 0) | (test['x'] == 0) | (test['z'] == 0) |(test['y'] >= 20) | (test['z'] >= 20) 
test.drop(test[cond].index, inplace = True)

In [20]:
columns = ['carat','depth', 'table', 'x', 'y', 'z']

for col in columns:
    test[col] = (test[col] - np.mean(test[col])) / np.std(test[col]) 

test.head()

,id,carat,cut,color,clarity,depth,table,x,y,z
0,0,-0.500241,Ideal,I,VS2,0.241489,-1.537773,-0.383443,-0.360777,-0.340759
1,1,0.535739,Ideal,G,VS2,0.101972,-0.646693,0.744052,0.711770,0.740676
2,2,-0.627096,Premium,E,VS2,-0.177064,-0.646693,-0.553462,-0.595116,-0.585884
3,3,0.007178,Ideal,F,VS1,0.729801,-0.646693,0.162408,0.207042,0.279264
4,4,-0.542526,Ideal,G,VS1,-0.246823,-0.201152,-0.446082,-0.477947,-0.484950

In [21]:
test.cut = test.cut.replace({'Ideal':1, 'Premium':2, 'Very Good':3, 'Good':4, 'Fair':5})
test.color = test.color.replace({'D':1, 'E':2, 'F':3, 'G':4, 'H':5, 'I':6, 'J':7})
test.clarity = test.clarity.replace({'IF':1,'VVS1':2,'VVS2':3, 'VS1':4, 'VS2':5, 'SI1':6, 'SI2':7, 'I1':8})

In [ ]:
diamond['color'] = le.fit_transform(diamond['color'])
diamond['cut'] = le.fit_transform(diamond['cut'])
diamond['clarity'] = le.fit_transform(diamond['clarity'])

In [ ]:
test.head()

In [23]:
test['volume'] = test['x']*test['y']*test['z']
test.drop(columns=['x', 'y', 'z'], inplace=True)

In [ ]:
test = pd.get_dummies(test)

In [ ]:
test.head()

In [24]:
diamond_id = pd.DataFrame(test['id'])

In [25]:
test = test.drop(columns='id')

In [26]:
y_pred = clf.predict(test)

In [27]:
y_pred

array([ 1997.172,  6641.908,  1192.804, ..., 15808.064,   765.32 ,
         744.516])

In [28]:
submission = pd.DataFrame({'id': diamond_id['id'], 'price': y_pred})

In [29]:
submission

          id      price
0          0   1997.172
1          1   6641.908
2          2   1192.804
3          3   3015.284
4          4   1499.912
...      ...        ...
13480  13480   3033.824
13481  13481   1307.556
13482  13482  15808.064
13483  13483    765.320
13484  13484    744.516

[13485 rows x 2 columns]

In [30]:
submission.to_csv('pruebaUltiMA.csv', index=False)