In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [1]:
import pandas as pd
import numpy as np

In [2]:
diamond = pd.read_csv('./INPUT/data.csv')

In [ ]:
# Let's take a look at the data
diamond.head()

In [ ]:
# Shape
diamond.shape

In [ ]:
# What kind of data we are dealing with, i.e. its types?
diamond.dtypes

In [ ]:
# No hay nulos

In [ ]:
diamond.describe()

In [ ]:
diamond.info()

In [ ]:
# Correlation matrix

corr = diamond.corr()

plt.figure(figsize = (8,6))

heat_map = sns.heatmap(corr, xticklabels=corr.columns.values, yticklabels=corr.columns.values, annot=True, fmt='.2f', linewidths=0.30, cmap = "coolwarm")

plt.title('Correlation of diamond features', y = 1.05, size=15)
heat_map.set_ylim(7,0,0)

In [ ]:
diamond.columns

In [ ]:
#columns = ['carat','depth', 'table', 'x', 'y', 'z']

#for col in columns:
#    diamond[col] = (diamond[col] - np.mean(diamond[col])) / np.std(diamond[col]) 

#diamond.head()

In [3]:
diamond.cut = diamond.cut.replace({'Ideal':5, 'Premium':4, 'Very Good':3, 'Good':2, 'Fair':1})
diamond.color = diamond.color.replace({'D':7, 'E':6, 'F':5, 'G':4, 'H':3, 'I':2, 'J':1})
diamond.clarity = diamond.clarity.replace({'IF':8,'VVS1':7,'VVS2':6, 'VS1':5, 'VS2':4, 'SI1':3, 'SI2':2, 'I1':1})

In [4]:
diamond.head()

   carat  cut  color  clarity  depth  table     x     y     z  price
0   2.26    5      4        2   61.9   57.0  8.44  8.36  5.20  12831
1   2.43    3      3        2   63.2   57.0  8.56  8.50  5.39  16170
2   0.80    4      5        2   61.0   57.0  6.03  6.01  3.67   2797
3   0.40    5      5        1   63.3   60.0  4.68  4.64  2.95    630
4   0.31    5      4        4   61.6   55.0  4.39  4.37  2.70    698

In [5]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [16]:
diamond['color'].value_counts()

4    8492
6    7343
5    7183
3    6230
7    5046
2    4046
1    2115
Name: color, dtype: int64

In [19]:
diamond['what?'] = le.fit_transform(diamond['color'])

In [22]:
diamond.head()

   carat  cut  color  clarity  depth  table     x     y     z  price  what?
0   2.26    5      4        2   61.9   57.0  8.44  8.36  5.20  12831      3
1   2.43    3      3        2   63.2   57.0  8.56  8.50  5.39  16170      2
2   0.80    4      5        2   61.0   57.0  6.03  6.01  3.67   2797      4
3   0.40    5      5        1   63.3   60.0  4.68  4.64  2.95    630      4
4   0.31    5      4        4   61.6   55.0  4.39  4.37  2.70    698      3

In [21]:
diamond['what?'].value_counts()

3    8492
5    7343
4    7183
2    6230
6    5046
1    4046
0    2115
Name: what?, dtype: int64

In [ ]:
columns = ['carat','depth', 'table']

for col in diamond.columns:
    diamond[col] = (diamond[col] - np.mean(diamond[col])) / np.std(diamond[col]) 

diamond.head()

In [ ]:
#diamond['volume'] = diamond['x']*diamond['y']*diamond['z']

In [ ]:
#diamond.drop(columns=['x', 'y', 'z'], inplace=True)

In [ ]:
diamond.head()

In [ ]:
y = diamond['price']
X = diamond [['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z']]

In [ ]:
X = pd.get_dummies(X)
X.head()

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
random_forest_model = RandomForestRegressor(n_estimators=250)

clf = random_forest_model.fit(X_train, y_train)

In [ ]:
y_pred = clf.predict(X_test)

In [ ]:
from sklearn.metrics import r2_score

r2_score(y_test, y_pred)

In [ ]:
from sklearn.metrics import mean_squared_error as mse
from math import sqrt

sqrt(mse(y_test, y_pred))

# TEST

In [ ]:
test = pd.read_csv('./INPUT/test.csv')

In [ ]:
test.head()

In [ ]:
columns = ['carat','depth', 'table', 'x', 'y', 'z']

for col in columns:
    test[col] = (test[col] - np.mean(test[col])) / np.std(test[col]) 

test.head()

In [ ]:
test.cut = test.cut.replace({'Ideal':1, 'Premium':2, 'Very Good':3, 'Good':4, 'Fair':5})
test.color = test.color.replace({'D':1, 'E':2, 'F':3, 'G':4, 'H':5, 'I':6, 'J':7})
test.clarity = test.clarity.replace({'IF':1,'VVS1':2,'VVS2':3, 'VS1':4, 'VS2':5, 'SI1':6, 'SI2':7, 'I1':8})

In [ ]:
test.head()

In [ ]:
#test['volume'] = test['x']*test['y']*test['z']
#test.drop(columns=['x', 'y', 'z'], inplace=True)

In [ ]:
test = pd.get_dummies(test)

In [ ]:
test.head()

In [ ]:
diamond_id = pd.DataFrame(test['id'])

In [ ]:
test = test.drop(columns='id')

In [ ]:
y_pred = clf.predict(test)

In [ ]:
y_pred

In [ ]:
submission = pd.DataFrame({'id': diamond_id['id'], 'price': y_pred})

In [ ]:
submission

In [ ]:
submission.to_csv('prueba7RF.csv', index=False)